.resume-actions {
    justify-content: center;
}

.download-sticky-button {
  z-index: 2000;
  position: absolute;
  bottom: 70px;
  right: 40px;
}

.download-sticky-button-container {
    position: relative;
}