<app-article-header [title]="'projects.vision-safety.title'" [subtitle]="'projects.vision-safety.subtitle'"></app-article-header>
<div>
  <h3>{{ 'projects.vision-safety.save-lives.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.save-lives.vision-safety' | translate }}</span>
    <b>{{ 'projects.vision-safety.save-lives.bluetooth' | translate }}</b>
    <span>{{ 'projects.vision-safety.save-lives.buttons' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.save-lives.detection' | translate }}</span>
  </p>
  <h3>{{ 'projects.vision-safety.manage.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.manage.vision-safety' | translate }}</span>
    <a [routerLink]="['../../technical-skills/android']" matTooltip="{{ 'redirects.linked-technical-skills.android' | translate }}" matTooltipPosition="above">{{ 'projects.vision-safety.manage.xamarin' | translate }}</a>
    <span>{{ 'projects.vision-safety.manage.environment' | translate }}</span>
    <b>{{ 'projects.vision-safety.manage.c-sharp' | translate }}</b>
    <span>{{ 'projects.vision-safety.manage.as-well' | translate }}</span>
    <b>{{ 'projects.vision-safety.manage.cross-platform' | translate }}</b>
    <span>{{ 'projects.vision-safety.manage.apps' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.manage.maintened' | translate }}</span>
    <a [routerLink]="['../../human-skills/autonomy']" matTooltip="{{ 'redirects.linked-human-skills.autonomy' | translate }}" matTooltipPosition="above">{{ 'projects.vision-safety.manage.autonomy' | translate }}</a>
    <span>{{ 'projects.vision-safety.manage.as-well' | translate }}</span>
    <b>{{ 'projects.vision-safety.manage.customer-relationship' | translate }}</b>
    <span>{{ 'projects.vision-safety.manage.study' | translate }}</span>
  </p>
  <h3>{{ 'projects.vision-safety.develop-better.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.develop-better.in-addition' | translate }}</span>
    <b>{{ 'projects.vision-safety.develop-better.android' | translate }}</b>
    <span>{{ 'projects.vision-safety.develop-better.vision-safety' | translate }}</span>
    <b>{{ 'projects.vision-safety.develop-better.bluetooth' | translate }}</b>
    <span>{{ 'projects.vision-safety.develop-better.devices' | translate }}</span>
    <b>{{ 'projects.vision-safety.develop-better.geolocation' | translate }}</b>
    <span>{{ 'projects.vision-safety.develop-better.data' | translate }}</span>
    <b>{{ 'projects.vision-safety.develop-better.jobs' | translate }}</b>
    <span>{{ 'projects.vision-safety.develop-better.background' | translate }}</span>
    <b>{{ 'projects.vision-safety.develop-better.multithreading' | translate }}</b>
    <span>{{ 'projects.vision-safety.develop-better.on-android' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.vision-safety.develop-better.enjoy' | translate }}</span>
  </p>
</div>