$route-margin-vertical: 72px;
$route-margin-horizontal: 96px;

:host {
  position: absolute;
  margin-top: $route-margin-vertical;
  margin-bottom: $route-margin-vertical;
  margin-left: $route-margin-horizontal;
  margin-right: 0;
  padding-right: $route-margin-horizontal;
  height: calc(100% - 2 * #{$route-margin-vertical});
  width: calc(100% - #{$route-margin-horizontal});
  overflow: auto;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 24px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: var(--color-primary-700);

    &:hover {
      background-color: var(--color-primary-600);
    }
  }
}

h1 {
  font-size: 48px;
  line-height: 64px;
}

p {
  font-size: 16px;
  line-height: 24px;
}
