<app-article-header [title]="'human-skills.creativity.title'" [subtitle]="'human-skills.creativity.subtitle'"></app-article-header>
<div>
  <h3>{{ 'human-skills.creativity.definition.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.definition.the' | translate }}</span>
    <b>{{ 'human-skills.creativity.definition.creativity' | translate }}</b>
    <span>{{ 'human-skills.creativity.definition.ability' | translate }}</span>
    <b>{{ 'human-skills.creativity.definition.client-needs' | translate }}</b>
    <span>{{ 'human-skills.creativity.definition.proposal' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.creativity.necessary.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.necessary.any-project' | translate }}</span>
    <b>{{ 'human-skills.creativity.necessary.answers' | translate }}</b>
    <span>{{ 'human-skills.creativity.necessary.requirements' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.necessary.develop' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.creativity.innovation.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.innovation.creative' | translate }}</span>
    <a [routerLink]="['../../projects/vision-safety']" matTooltip="{{ 'redirects.linked-projects.vision-safety' | translate }}" matTooltipPosition="above">{{ 'human-skills.creativity.innovation.vision-safety' | translate }}</a>
    <span>{{ 'human-skills.creativity.innovation.sms-alerts' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.innovation.suggested' | translate }}</span>
    <b>{{ 'human-skills.creativity.innovation.reducing' | translate }}</b>
    <span>{{ 'human-skills.creativity.innovation.application' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.creativity.other-domains.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.creativity.other-domains.various-forms' | translate }}</span>
    <b>{{ 'human-skills.creativity.other-domains.new-stuff' | translate }}</b>
    <span>{{ 'human-skills.creativity.other-domains.pokemon' | translate }}</span>
  </p>
  <div class="pokemon-container">
    <img src="assets/img/scaracorn.png" class="pokemon">
    <img src="assets/img/beetleaf.png" class="pokemon">
    <img src="assets/img/oakleoptera.png" class="pokemon">
  </div>
  <p class="img-caption">
    <i>{{ 'human-skills.creativity.pokemon.scaracorn' | translate }}</i>
    <span>{{ 'human-skills.creativity.pokemon.scaracorn-bis' | translate }}</span>
    <i>{{ 'human-skills.creativity.pokemon.beetleaf' | translate }}</i>
    <span>{{ 'human-skills.creativity.pokemon.beetleaf-bis' | translate }}</span>
    <i>{{ 'human-skills.creativity.pokemon.oakleoptera' | translate }}</i>
    <span>{{ 'human-skills.creativity.pokemon.created' | translate }}</span>
  </p>
</div>