<h1>{{ 'human-skills.creativity.title' | translate }}</h1>
<h2>{{ 'human-skills.creativity.subtitle' | translate }}</h2>
<h4>{{ 'human-skills.creativity.definition.title' | translate }}</h4>
<p>
  {{ 'human-skills.creativity.definition.the' | translate }}
  <b>{{ 'human-skills.creativity.definition.creativity' | translate }}</b>
  {{ 'human-skills.creativity.definition.ability' | translate }}
</p>
<h4>{{ 'human-skills.creativity.necessary.title' | translate }}</h4>
<p>
  {{ 'human-skills.creativity.necessary.any-project' | translate }}
  <br>
  {{ 'human-skills.creativity.necessary.develop' | translate }}
</p>
<h4>{{ 'human-skills.creativity.me.title' | translate }}</h4>
<p>
  {{ 'human-skills.creativity.me.vision' | translate }}
  <a [routerLink]="['../../projects/web-agent']">{{ 'human-skills.creativity.me.web-agent' | translate }}</a>
  {{ 'human-skills.creativity.me.and' | translate }}
  <a [routerLink]="['../../projects/vision-safety']">{{ 'human-skills.creativity.me.vision-safety' | translate }}</a>
  {{ 'human-skills.creativity.me.internship' | translate }}
  <b>{{ 'human-skills.creativity.me.feedbacks' | translate }}</b>
  {{ 'human-skills.creativity.me.colleagues' | translate }}
</p>