<template>
    <div>
        <h1>{{ $t("autonomy.title")}}</h1>
        
        <h3><i>{{ $t("autonomy.subtitle")}}</i></h3>
        <br />
        
        <div>
            {{ $t("autonomy.what")}}
            <br />
            {{ $t("autonomy.basically")}}
            <b>
                {{ $t("autonomy.autonomy")}}
            </b>
            {{ $t("autonomy.definition")}}
            <br />
            <br />
            {{ $t("autonomy.transcripted")}}
            <br />
            <br />
            {{ $t("autonomy.nuances")}}
            <b>
                {{ $t("autonomy.progress")}}</b>{{ $t("autonomy.upToDate")}}
            <br />
            <br />
            {{ $t("autonomy.quality")}}
            <br />
            <br />
            {{ $t("autonomy.binary")}}
            <router-link to="/visionsafety">
                {{ $t("autonomy.vision")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            {{ $t("autonomy.company")}}
            <b>
                {{ $t("autonomy.feedbacks")}}
            </b>
            {{ $t("autonomy.highlighted")}}
            <br />
            <br />
        </div>
    </div>
</template>

<script src="./autonomy.ts"></script>