<template>
    <div>
        <h1>Autonomy</h1>
        
        <h3><i>Because a developper has to be able to work on his own</i></h3>
        <br />
        
        <div>
            What is autonomy? Basically, <b>autonomy</b> is the ability to act by yourself in a specific environment. It doesn't mean that you have to work alone,
            it means that you have to work with other people being granted some liberties. You can do things the way you like, as far as it respects the
            given perimeter of what you are authorized to do.
            <br />
            <br />
            How is it transcripted in an IT company? Well, you are given a work and hopefully you know how to do this work. If you don't, you will try
            to figure it out by yourself, using forums, tutorials, etc. And then only, after searching and trying by yourself, if you still cannot do the
            task, you will report it to your manager.
            <br />
            <br />
            Obviously, there are nuances. If you take too long and stay stuck on an issue for an excessive amount of time, it will be worse. You have to
            be able to feel when you need help. But you need to search and try by yourself before asking to your teammates, either way you will never
            progress, and IT is a sector where you need to constantly <b>make progress</b>, to be constantly up-to-date.
            <br />
            <br />
            Autonomy is on of my qualities. I am used to work with teammates, to understand quickly what I need to do, and to do it by my own, without
            asking questions every few minutes. If I don't understand an aspect of what I'm working on, I will ask to one of my mates only after trying
            and searching by myself, so I can explain him what I already did, what worked or not and why. Then, it is easier for him to help me and I
            make a lot more progress.
            <br />
            <br />
            Also, autonomy is not a binary ability. It does not work as "You are autonomous/You are not autonomous". Autonomy is something you work on
            all the time. Everybody is autonomous, just at different degrees. I've become more and more autonomous during my work experience at Capgemini
            on Securitas' Vision project
            <router-link to="/visionsafety" target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            . In this company, <b>feedbacks</b> to your colleagues are really important and my autonomy is one of the main things
            that have been highlighted on my profile.
            <br />
            <br />
        </div>
    </div>
</template>

<script src="./autonomy.ts"></script>