<app-article-header [title]="'human-skills.title'" [subtitle]="'human-skills.subtitle'"></app-article-header>
<div class="article-card-container">
  <mat-card matRipple class="article-card" [routerLink]="['./autonomy']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-autonomy" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'human-skills.autonomy.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'human-skills.autonomy.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/autonomy.png" alt="Autonomy logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'human-skills.autonomy.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./knowledge-sharing']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-knowledge-sharing" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'human-skills.knowledge-sharing.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'human-skills.knowledge-sharing.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/knowledge-sharing.png" alt="Knowledge sharing logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'human-skills.knowledge-sharing.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./team-leading']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-team-leading" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'human-skills.team-leading.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'human-skills.team-leading.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/team-leading.png" alt="Team leading logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'human-skills.team-leading.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./creativity']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-creativity" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'human-skills.creativity.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'human-skills.creativity.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/creativity.png" alt="Creativity logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'human-skills.creativity.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./languages']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-languages" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'human-skills.languages.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'human-skills.languages.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/languages.png" alt="Languages logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'human-skills.languages.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>