<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" :exact="true">
                    <img id="portrait" src="src/antonin-charrier.png" />
                    <p class="navbar-brand">{{ $t("navmenu.home")}}</p>
                </router-link>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/projects">
                            <span class="glyphicon glyphicon-briefcase"></span> {{ $t("navmenu.projects")}}
                        </router-link>
                        <ul class="nav navbar-nav sub-nav">
                            <li>
                                <router-link to="/galt">
                                    <span class="glyphicon glyphicon-folder-open"></span> {{ $t("navmenu.galt")}}
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/visionsafety">
                                    <span class="glyphicon glyphicon-folder-open"></span> {{ $t("navmenu.visionSafety")}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link to="/skills">
                            <span class="glyphicon glyphicon-ok"></span> {{ $t("navmenu.skills")}}
                        </router-link>
                        <ul class="nav navbar-nav sub-nav">
                            <li>
                                <router-link to="/autonomy">
                                    <span class="glyphicon glyphicon-ok-circle"></span> {{ $t("navmenu.autonomy")}}
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/android">
                                    <span class="glyphicon glyphicon-ok-circle"></span> {{ $t("navmenu.android")}}
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/front-end">
                                    <span class="glyphicon glyphicon-ok-circle"></span> {{ $t("navmenu.front")}}
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link to="/hobbies">
                            <span class="glyphicon glyphicon-star"></span> {{ $t("navmenu.hobbies")}}
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/contact">
                            <span class="glyphicon glyphicon-envelope"></span> {{ $t("navmenu.contact")}}
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm" id="language">
                <button type="button" v-for="locale in locales" class="btn" 
                        v-on:click="setLocale(locale)" v-bind:class="{ 'btn-primary' : isCurrentLanguage(locale) }">{{locale.toUpperCase()}}</button>
            </div>
        </div>
    </div>
</template>

<script src="./navmenu.ts"></script>


<style src="./navmenu.css" />
