<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" :exact="true">
                    <p class="navbar-brand">Antonin CHARRIER</p>
                </router-link>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/projects">
                            <span class="glyphicon glyphicon-briefcase"></span> Projects
                        </router-link>
                        <ul class="nav navbar-nav sub-nav">
                            <li>
                                <router-link to="/galt">
                                    <span class="glyphicon glyphicon-folder-open"></span> Galt
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/visionsafety">
                                    <span class="glyphicon glyphicon-folder-open"></span> VisionSafety
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link to="/skills">
                            <span class="glyphicon glyphicon-ok"></span> Skills
                        </router-link>
                        <ul class="nav navbar-nav sub-nav">
                            <li>
                                <router-link to="/autonomy">
                                    <span class="glyphicon glyphicon-ok-circle"></span> Autonomy
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/android">
                                    <span class="glyphicon glyphicon-ok-circle"></span> Android
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/front-end">
                                    <span class="glyphicon glyphicon-ok-circle"></span> Front end frameworks
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <img id="language" src="src/uk.png" title="Sorry, only English is available yet... :/" />
        </div>
    </div>
</template>

<script src="./navmenu.ts"></script>


<style src="./navmenu.css" />
