<app-article-header [title]="'hobbies.title'" [subtitle]="'hobbies.subtitle'"></app-article-header>
<div>
  <h3>{{ 'hobbies.fencing.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'hobbies.fencing.practicing' | translate }}</span>
    <b>{{ 'hobbies.fencing.fencing' | translate }}</b>
    <span>{{ 'hobbies.fencing.fifteen-years' | translate }}</span>
    <b>{{ 'hobbies.fencing.competition' | translate }}</b>
    <span>{{ 'hobbies.fencing.season' | translate }}</span>
  </p>
  <div class="screenshot-container">
    <img src="assets/img/fencing.jpg" class="screenshot">
  </div>  
  <p class="img-caption">
    <span>{{ 'hobbies.fencing.foil' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'hobbies.fencing.also' | translate }}</span>
    <b>{{ 'hobbies.fencing.referee' | translate }}</b>
    <span>{{ 'hobbies.fencing.olympics' | translate }}</span>
  </p>
  <h3>{{ 'hobbies.travels.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'hobbies.travels.travel' | translate }}</span>
    <b>{{ 'hobbies.travels.tokyo' | translate }}</b>
    <span>{{ 'hobbies.travels.japan' | translate }}</span>
    <b>{{ 'hobbies.travels.montreal' | translate }}</b>
    <span>{{ 'hobbies.travels.canada' | translate }}</span>
    <b>{{ 'hobbies.travels.ireland' | translate }}</b>
    <span>{{ 'hobbies.travels.ten-times' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'hobbies.travels.live' | translate }}</span>
    <b>{{ 'hobbies.travels.new-zealand' | translate }}</b>
    <span>{{ 'hobbies.travels.kiwis' | translate }}</span>
  </p>
  <div class="screenshot-container">
    <img src="assets/img/auckland.jpg" class="screenshot">
  </div>  
  <p class="img-caption">
    <span>{{ 'hobbies.travels.auckland' | translate }}</span>
  </p>
  <h3>{{ 'hobbies.video-games.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'hobbies.video-games.child' | translate }}</span>
    <b>{{ 'hobbies.video-games.video-games' | translate }}</b>
    <span>{{ 'hobbies.video-games.play' | translate }}</span>
    <b>{{ 'hobbies.video-games.own' | translate }}</b>
    <span>{{ 'hobbies.video-games.fan-games' | translate }}</span>
  </p>
  <div class="screenshot-container">
    <img src="assets/img/the_last_of_us.jpg" class="screenshot">
  </div>  
  <p class="img-caption">
    <span>{{ 'hobbies.video-games.the-last-of-us' | translate }}</span>
  </p>
  <h3>{{ 'hobbies.other.title' | translate }}</h3>
  <ul>
    <li>
      <span>{{ 'hobbies.other.listen' | translate }}</span>
      <b>{{ 'hobbies.other.music' | translate }}</b>
      <span>{{ 'hobbies.other.work' | translate }}</span>  
    </li>
    <li>
      <span>{{ 'hobbies.other.stop' | translate }}</span>
      <b>{{ 'hobbies.other.poker' | translate }}</b>
      <span>{{ 'hobbies.other.practice' | translate }}</span>  
    </li>
    <li>
      <span>{{ 'hobbies.other.passion' | translate }}</span>
      <b>{{ 'hobbies.other.formula-1' | translate }}</b>
      <span>{{ 'hobbies.other.grand-prix' | translate }}</span>  
    </li>
  </ul>
</div>