<app-article-header [title]="'career.title'" [subtitle]="'career.subtitle'"></app-article-header>
<div class="timeline-hint"><span>▼</span><span class="timeline-hint-text">{{ 'career.click' | translate }}</span><span>▼</span></div>
<div class="timeline-container">
  <div class="timeline-time-container">
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2019</p>
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2018</p>
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2017</p>
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2016</p>
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2015</p>
    <p class="timeline-time" [ngClass]="{ 'light border-light': !isDarkTheme, 'dark border-dark': isDarkTheme }">2014</p>
  </div>
  <div class="timeline-background" [ngClass]="{ 'border-light': !isDarkTheme, 'border-dark': isDarkTheme }">
    <button mat-flat-button color="accent" class="timeline-item timeline-item-cdi" (click)="displayExperience('cdi')">
      <span>{{ 'career.cdi.button' | translate }}</span>
    </button>
    <button mat-flat-button color="accent" class="timeline-item timeline-item-alternance" (click)="displayExperience('alternance')">
      <span>{{ 'career.alternance.button' | translate }}</span>
    </button>
    <button mat-flat-button color="accent" class="timeline-item timeline-item-stage-cap" (click)="displayExperience('stage-cap')">
      <span>{{ 'career.stage-cap.button' | translate }}</span>
    </button>
    <button mat-flat-button color="accent" class="timeline-item timeline-item-stage-asp" (click)="displayExperience('stage-asp')">
      <span>{{ 'career.stage-asp.button' | translate }}</span>
    </button>
    <button mat-flat-button color="primary" class="timeline-item timeline-item-intech" (click)="displayExperience('intech')">
      <span>{{ 'career.intech.button' | translate }}</span>
    </button>
    <button mat-flat-button color="primary" class="timeline-item timeline-item-bac" (click)="displayExperience('bac')">
      <span>{{ 'career.bac.button' | translate }}</span>
    </button>
  </div>
</div>
