.experience-actions {
  justify-content: center;
}

.experience-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-duration {
  font-size: 0.9rem;
  font-style: italic;
}
