<app-article-header [title]="'technical-skills.android.title'" [subtitle]="'technical-skills.android.subtitle'"></app-article-header>
<div>
  <h3>{{ 'technical-skills.android.discovery.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.android.discovery.learned' | translate }}</span>
    <b>{{ 'technical-skills.android.discovery.android' | translate }}</b>
    <span>{{ 'technical-skills.android.discovery.vision' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'technical-skills.android.discovery.web-agent' | translate }}</a>
    <span>{{ 'technical-skills.android.discovery.vision-mobile' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.android.practice.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.android.practice.two-years' | translate }}</span>
    <b>{{ 'technical-skills.android.practice.activities' | translate }}</b>
    <span>{{ 'technical-skills.android.practice.and' | translate }}</span>
    <b>{{ 'technical-skills.android.practice.fragments' | translate }}</b>
    <span>{{ 'technical-skills.android.practice.tasks' | translate }}</span>
    <b>{{ 'technical-skills.android.practice.sqlite' | translate }}</b>
    <span>{{ 'technical-skills.android.practice.database' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.android.practice.opportunity' | translate }}</span>
    <b>{{ 'technical-skills.android.practice.layouts' | translate }}</b>
    <span>{{ 'technical-skills.android.practice.layouts-bis' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.android.vision-safety.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.android.vision-safety.project' | translate }}</span>
    <a [routerLink]="['../../projects/vision-safety']" matTooltip="{{ 'redirects.linked-projects.vision-safety' | translate }}" matTooltipPosition="above">{{ 'technical-skills.android.vision-safety.vision-safety' | translate }}</a>
    <span>{{ 'technical-skills.android.vision-safety.center' | translate }}</span>
    <b>{{ 'technical-skills.android.vision-safety.xamarin' | translate }}</b>
    <span>{{ 'technical-skills.android.vision-safety.one-hand' | translate }}</span>
    <b>{{ 'technical-skills.android.vision-safety.c-sharp' | translate }}</b>
    <span>{{ 'technical-skills.android.vision-safety.language' | translate }}</span>
    <b>{{ 'technical-skills.android.vision-safety.cross-platform' | translate }}</b>
    <span>{{ 'technical-skills.android.vision-safety.applications' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.android.vision-safety.debuts' | translate }}</span>
    <a [routerLink]="['../../technical-skills/notions-of-architecture']" matTooltip="{{ 'redirects.linked-technical-skills.notions-of-architecture' | translate }}" matTooltipPosition="above">{{ 'technical-skills.android.vision-safety.architecture' | translate }}</a>
    <span>{{ 'technical-skills.android.vision-safety.needs' | translate }}</span>
    <b>{{ 'technical-skills.android.vision-safety.bluetooth' | translate }}</b>
    <span>{{ 'technical-skills.android.vision-safety.ble' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.android.vision-safety.continue' | translate }}</span>
  </p>
</div>
