<app-article-header [title]="'technical-skills.dot-net-core-web-api.title'" [subtitle]="'technical-skills.dot-net-core-web-api.subtitle'"></app-article-header>
<div>
  <h3>{{ 'technical-skills.dot-net-core-web-api.learning.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.curriculum' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.learning.c-sharp' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.language' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.learning.dot-net' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.framework' | translate }}</span>
  </p>
  <ul>
    <li>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.first' | translate }}</span>
    </li>
    <li>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.second' | translate }}</span>
      <b>{{ 'technical-skills.dot-net-core-web-api.learning.unity' | translate }}</b>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.bluetooth' | translate }}</span>  
    </li>
    <li>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.last' | translate }}</span>
      <a [routerLink]="['../../projects/galt']" matTooltip="{{ 'redirects.linked-projects.galt' | translate }}" matTooltipPosition="above">{{ 'technical-skills.dot-net-core-web-api.learning.galt' | translate }}</a>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.online' | translate }}</span>
      <b>{{ 'technical-skills.dot-net-core-web-api.learning.nuget' | translate }}</b>
      <span>{{ 'technical-skills.dot-net-core-web-api.learning.manager' | translate }}</span>  
    </li>
  </ul>
  <p class="article-p">
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.projects' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.learning.asp-net' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.advantage' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.learning.rest' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.web-services' | translate }}</span>
    <a [routerLink]="['../../technical-skills/front-end']" matTooltip="{{ 'redirects.linked-technical-skills.front-end' | translate }}" matTooltipPosition="above">{{ 'technical-skills.dot-net-core-web-api.learning.front' | translate }}</a>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.communicate' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.learning.sql-server' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.learning.database' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.dot-net-core-web-api.business.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.dot-net-core-web-api.business.capgemini' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'technical-skills.dot-net-core-web-api.business.securitas' | translate }}</a>
    <span>{{ 'technical-skills.dot-net-core-web-api.business.framework' | translate }}</span>
    <a [routerLink]="['../../projects/call-center']" matTooltip="{{ 'redirects.linked-projects.call-center' | translate }}" matTooltipPosition="above">{{ 'technical-skills.dot-net-core-web-api.business.call-center' | translate }}</a>
    <span>{{ 'technical-skills.dot-net-core-web-api.business.or' | translate }}</span>
    <a [routerLink]="['../../projects/e-monthly']" matTooltip="{{ 'redirects.linked-projects.e-monthly' | translate }}" matTooltipPosition="above">{{ 'technical-skills.dot-net-core-web-api.business.e-monthly' | translate }}</a>
    <span>{{ 'technical-skills.dot-net-core-web-api.business.e-monthly-bis' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.dot-net-core-web-api.business.finally' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.business.restful' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.business.web-services' | translate }}</span>
    <b>{{ 'technical-skills.dot-net-core-web-api.business.entity-framework' | translate }}</b>
    <span>{{ 'technical-skills.dot-net-core-web-api.business.api' | translate }}</span>
  </p>
</div>