<h1>{{ 'human-skills.autonomy.title' | translate }}</h1>
<h2>{{ 'human-skills.autonomy.subtitle' | translate }}</h2>
<h4>{{ 'human-skills.autonomy.definition.title' | translate }}</h4>
<p class="article-p">
  {{ 'human-skills.autonomy.definition.what' | translate }}
  <b>{{ 'human-skills.autonomy.definition.autonomy' | translate }}</b>
  {{ 'human-skills.autonomy.definition.ability' | translate }}
</p>
<h4>{{ 'human-skills.autonomy.it-company.title' | translate }}</h4>
<p class="article-p">
  {{ 'human-skills.autonomy.it-company.employee' | translate }}
  <br>
  {{ 'human-skills.autonomy.it-company.however' | translate }}
  <b>{{ 'human-skills.autonomy.it-company.evolution' | translate }}</b>
  {{ 'human-skills.autonomy.it-company.bonary' | translate }}
</p>
<h4>{{ 'human-skills.autonomy.me.title' | translate }}</h4>
<p class="article-p">
  {{ 'human-skills.autonomy.me.vision' | translate }}
  <a [routerLink]="['../../projects/web-agent']">{{ 'human-skills.autonomy.me.web-agent' | translate }}</a>
  {{ 'human-skills.autonomy.me.and' | translate }}
  <a [routerLink]="['../../projects/vision-safety']">{{ 'human-skills.autonomy.me.vision-safety' | translate }}</a>
  {{ 'human-skills.autonomy.me.internship' | translate }}
  <b>{{ 'human-skills.autonomy.me.feedbacks' | translate }}</b>
  {{ 'human-skills.autonomy.me.colleagues' | translate }}
</p>