<app-article-header [title]="'human-skills.autonomy.title'" [subtitle]="'human-skills.autonomy.subtitle'"></app-article-header>
<div>
  <h3>{{ 'human-skills.autonomy.definition.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.autonomy.definition.what' | translate }}</span>
    <b>{{ 'human-skills.autonomy.definition.autonomy' | translate }}</b>
    <span>{{ 'human-skills.autonomy.definition.ability' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.autonomy.it-company.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.autonomy.it-company.employee' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.autonomy.it-company.however' | translate }}</span>
    <b>{{ 'human-skills.autonomy.it-company.evolution' | translate }}</b>
    <span>{{ 'human-skills.autonomy.it-company.bonary' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.autonomy.me.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.autonomy.me.vision' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'human-skills.autonomy.me.web-agent' | translate }}</a>
    <span>{{ 'human-skills.autonomy.me.and' | translate }}</span>
    <a [routerLink]="['../../projects/vision-safety']" matTooltip="{{ 'redirects.linked-projects.vision-safety' | translate }}" matTooltipPosition="above">{{ 'human-skills.autonomy.me.vision-safety' | translate }}</a>
    <span>{{ 'human-skills.autonomy.me.internship' | translate }}</span>
    <b>{{ 'human-skills.autonomy.me.feedbacks' | translate }}</b>
    <span>{{ 'human-skills.autonomy.me.colleagues' | translate }}</span>
  </p>
</div>