<template>
    <div>
        <h1>{{ $t("home.title")}}</h1>
        <h3>{{ $t("home.subtitle")}}</h3>
        <br />
        <div>
            {{ $t("home.hello")}}
            <a target="_blank" href="https://www.intechinfo.fr">
                {{ $t("home.intech")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
            {{ $t("home.paris")}}
            <br />
            <br />
            {{ $t("home.check")}}
            <router-link to="/projects">
                {{ $t("home.projects")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            {{ $t("home.worked")}}
            <router-link to="/skills">
                {{ $t("home.skills")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            {{ $t("home.acquired")}}
        </div>
    </div>
</template>

<script src="./home.ts"></script>
