<template>
    <div>
        <h1>Antonin CHARRIER</h1>
        <h3>Web and Android developper</h3>
        <br/>
        <div>
            Hello, I'm Antonin. I'm a full stack developper who builds web and Android apps. I studied during five years at IN'TECH engineering school
            in Paris, France.
            <br />
            <br />
            You can check out some of the
            <router-link to="/projects">
                projects
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            I worked on or some of the
            <router-link to="/skills">
                skills
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>
            I acquired working on these projects.
        </div>
    </div>
</template>