.sidenav-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 20vw;
    min-width: 320px;
}

.sidenav-profile {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 8px;
}

.sidenav-list {
    height: 200px;
    flex-grow: 15;
}

.sidenav-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;      
    justify-content: space-between;
    align-items: center;  
    padding: 0 16px;
}

.profile-actions {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.profile-picture {
    width: 250px;
    border-radius: 50%;
}

.profile-panel {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.profile-logo {
    width: 48px;
}

.profile-name {
    margin-top: 16px;
}

.sidenav-mat-list {
    padding: 8px 0 !important;
}

.sublist {
    padding-top: 0;
}

.sublist-icon {    
    margin-left: 12px;
}
