<div class="sidenav-container">
  <div class="sidenav-profile">
    <img src="assets/img/profile.png" class="profile-picture" [ngClass]="{ 'profile-picture-large': !isOver, 'profile-picture-small': isOver }">
    <div class="profile-panel">
      <a href="/" class="profile-subpanel-left">
        <img [src]="isDarkTheme ? 'assets/img/logo_white.png' : 'assets/img/logo_black.png'" class="profile-logo">
      </a>
      <div class="profile-subpanel-right">
        <h1 class="profile-name">{{ 'sidenav.profile.name' | translate }}</h1>
        <h2 class="profile-job">{{ 'sidenav.profile.job' | translate }}</h2>
      </div>
    </div>
    <div class="profile-actions">
      <button mat-flat-button color="primary" class="profile-action" matTooltip="{{ 'sidenav.profile.coordinates' | translate }}" matTooltipPosition="above" (click)="contactInfo()">
        <mat-icon aria-label="Coordinates">person</mat-icon>
      </button> 
      <button mat-flat-button color="primary" class="profile-action" matTooltip="{{ 'sidenav.profile.resume' | translate }}" matTooltipPosition="above" (click)="resume()">
        <mat-icon aria-label="Resume">description</mat-icon>
      </button> 
      <button mat-flat-button color="primary" class="profile-action" matTooltip="{{ 'sidenav.profile.email' | translate }}" matTooltipPosition="above" (click)="email()">
        <mat-icon aria-label="Email">send</mat-icon>
      </button>
      <button mat-flat-button color="primary" class="profile-action" matTooltip="{{ 'sidenav.profile.linkedin' | translate }}" matTooltipPosition="above" (click)="linkedin()">
        <mat-icon aria-label="LinkedIn" svgIcon="linkedin"></mat-icon>
      </button>
      <button mat-flat-button color="primary" class="profile-action" matTooltip="{{ 'sidenav.profile.github' | translate }}" matTooltipPosition="above" (click)="github()">
        <mat-icon aria-label="GitHub" svgIcon="github"></mat-icon>
      </button>
    </div>     
  </div>
  <mat-divider></mat-divider>
  <cdk-virtual-scroll-viewport itemSize="0" class="sidenav-list" id="scroll-list">
    <mat-action-list class="sidenav-mat-list">
      <mat-list-item [routerLink]="['']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon matListIcon>home</mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.home' | translate }}</p>
      </mat-list-item>
      <mat-list-item [routerLink]="['projects']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}" (click)="isProjectsExpanded = true">
        <div *ngIf="parent === 'projects'" class="selected-parent" [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }"></div>
        <mat-icon matListIcon>work</mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.projects' | translate }}</p>
        <button mat-icon-button (click)="isProjectsExpanded = !isProjectsExpanded; $event.stopPropagation()">
          <mat-icon *ngIf="!isProjectsExpanded">expand_more</mat-icon>
          <mat-icon *ngIf="isProjectsExpanded">expand_less</mat-icon>
        </button>
      </mat-list-item>
      <mat-action-list mat-list-item class="sublist" *ngIf="isProjectsExpanded">
        <mat-list-item [routerLink]="['projects/call-center']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.call-center' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['projects/e-monthly']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.e-monthly' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['projects/galt']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.galt' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['projects/vision-safety']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.vision-safety' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['projects/web-agent']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.web-agent' | translate }}</p>
        </mat-list-item>
      </mat-action-list>
      <mat-list-item [routerLink]="['technical-skills']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}" (click)="isTechnicalSkillsExpanded = true">
        <div *ngIf="parent === 'technical-skills'" class="selected-parent" [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }"></div>
        <mat-icon matListIcon>build</mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.technical-skills' | translate }}</p>
        <button mat-icon-button (click)="isTechnicalSkillsExpanded = !isTechnicalSkillsExpanded; $event.stopPropagation()">
          <mat-icon *ngIf="!isTechnicalSkillsExpanded">expand_more</mat-icon>
          <mat-icon *ngIf="isTechnicalSkillsExpanded">expand_less</mat-icon>
        </button>
      </mat-list-item>
      <mat-action-list mat-list-item class="sublist" *ngIf="isTechnicalSkillsExpanded">
        <mat-list-item [routerLink]="['technical-skills/android']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.android' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['technical-skills/dot-net-core-web-api']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.dot-net-core-web-api' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['technical-skills/financial-assessments']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.financial-assessments' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['technical-skills/front-end']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.front-end' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['technical-skills/notions-of-architecture']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.notions-of-architecture' | translate }}</p>
        </mat-list-item>
      </mat-action-list>  
      <mat-list-item [routerLink]="['human-skills']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}" (click)="isHumanSkillsExpanded = true">
        <div *ngIf="parent === 'human-skills'" class="selected-parent" [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }"></div>
        <mat-icon matListIcon>assignment_ind</mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.human-skills' | translate }}</p>
        <button mat-icon-button (click)="isHumanSkillsExpanded = !isHumanSkillsExpanded; $event.stopPropagation()">
          <mat-icon *ngIf="!isHumanSkillsExpanded">expand_more</mat-icon>
          <mat-icon *ngIf="isHumanSkillsExpanded">expand_less</mat-icon>
        </button>
      </mat-list-item>
      <mat-action-list mat-list-item class="sublist" *ngIf="isHumanSkillsExpanded">
        <mat-list-item [routerLink]="['human-skills/autonomy']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.autonomy' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['human-skills/creativity']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.creativity' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['human-skills/knowledge-sharing']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.knowledge-sharing' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['human-skills/languages']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.languages' | translate }}</p>
        </mat-list-item>
        <mat-list-item [routerLink]="['human-skills/team-leading']" routerLinkActive="sidenav-active-link"
          [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
          <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.team-leading' | translate }}</p>
        </mat-list-item>
      </mat-action-list>
      <mat-list-item [routerLink]="['career']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon aria-label="Career" svgIcon="route" matListIcon></mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.career' | translate }}</p>
      </mat-list-item>
      <mat-list-item [routerLink]="['hobbies']" routerLinkActive="sidenav-active-link"
        [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon matListIcon>videogame_asset</mat-icon>
        <p class="sidenav-mat-list-p" matLine>{{ 'sidenav.hobbies' | translate }}</p>
      </mat-list-item>
    </mat-action-list>
  </cdk-virtual-scroll-viewport>
  <mat-divider></mat-divider>
  <div class="sidenav-footer">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" matTooltip="{{ 'sidenav.language' | translate }}" matTooltipPosition="above">{{ locale }}</button>
    <mat-menu #menu="matMenu" yPosition="above" xPosition="after">
      <button mat-menu-item (click)="setLang('fr')">Français</button>
      <button mat-menu-item (click)="setLang('en')">English</button>
    </mat-menu>
    <mat-icon [color]="isDarkTheme ? '' : 'primary'" aria-label="Light mode" svgIcon="sun"></mat-icon>
    <mat-slide-toggle class="example-margin" color="primary" (change)="toggleDarkTheme($event.checked)"
      [checked]="isDarkTheme" matTooltip="{{ 'sidenav.dark-mode' | translate }}"></mat-slide-toggle>
    <mat-icon [color]="isDarkTheme ? 'primary' : ''" aria-label="Dark mode" svgIcon="moon"></mat-icon>
    <button mat-button color="primary" [routerLink]="['about']" routerLinkActive="mat-flat-button" [routerLinkActiveOptions]="{exact: true}">{{ 'sidenav.about' | translate }}</button>
</div>
</div>