<ul>
  <li>
    <a [routerLink]="['']" i18n="home link|The link that redirects to the home page@@homeLink">Home</a>
  </li>
  <li>
    <a [routerLink]="['projects']" i18n="projects link|The link that redirects to the projects page@@projectsLink">Projects</a>
    <ul>
      <li>
        <a [routerLink]="['projects/call-center']" i18n="call-center link|The link that redirects to the call center page@@callCenterLink">Call center</a>
      </li>
      <li>
        <a [routerLink]="['projects/e-monthly']" i18n="e-monthly link|The link that redirects to the eMonthly page@@eMonthlyLink">eMonthly</a>
      </li>
      <li>
        <a [routerLink]="['projects/galt']" i18n="galt link|The link that redirects to the Galt page@@galtLink">Galt</a>
      </li>
      <li>
        <a [routerLink]="['projects/vision-safety']" i18n="vision-safety link|The link that redirects to the VisionSafety page@@visionSafetyLink">VisionSafety</a>
      </li>
      <li>
        <a [routerLink]="['projects/web-agent']" i18n="web-agent link|The link that redirects to the WebAgent page@@webAgentLink">WebAgent</a>
      </li>              
    </ul>
  </li>
  <li>
    <a [routerLink]="['technical-skills']" i18n="technical-skills link|The link that redirects to the technical skills page@@technicalSkillsLink">Technical skills</a>
    <ul>
        <li>
          <a [routerLink]="['technical-skills/android']" i18n="android link|The link that redirects to the Android page@@androidLink">Android</a>
        </li>
        <li>
          <a [routerLink]="['technical-skills/dot-net-core-web-api']" i18n="dot-net-core-web-api link|The link that redirects to the .NET Core Web API page@@dotNetCoreWebApiLink">.NET Core Web API</a>
        </li>
        <li>
          <a [routerLink]="['technical-skills/financial-assessments']" i18n="financial-assessments link|The link that redirects to the financial assessments page@@financialAssessmentsLink">Financial assessments</a>
        </li>
        <li>
          <a [routerLink]="['technical-skills/front-end']" i18n="front-end link|The link that redirects to the front end page@@frontEndLink">Front end</a>
        </li>
        <li>
          <a [routerLink]="['technical-skills/notions-of-architecture']" i18n="notions-of-architecture link|The link that redirects to the notions of architecture page@@notionsOfArchitectureLink">Notions of architecture</a>
        </li>              
      </ul>  
  </li>
  <li>
    <a [routerLink]="['human-skills']" i18n="human-skills link|The link that redirects to the human skills page@@humanSkillsLink">Human skills</a>
    <ul>
        <li>
          <a [routerLink]="['human-skills/autonomy']" i18n="autonomy link|The link that redirects to the autonomy page@@autonomyLink">Autonomy</a>
        </li>
        <li>
          <a [routerLink]="['human-skills/creativity']" i18n="creativity link|The link that redirects to the creativity page@@creativityLink">Creativity</a>
        </li>
        <li>
          <a [routerLink]="['human-skills/knowledge-sharing']" i18n="knowledge-sharing link|The link that redirects to the knowledge-sharing page@@knowledgeSharingLink">Knowledge sharing</a>
        </li>
        <li>
          <a [routerLink]="['human-skills/languages']" i18n="languages link|The link that redirects to the languages page@@languagesLink">Languages</a>
        </li>
        <li>
          <a [routerLink]="['human-skills/team-leading']" i18n="team-leading link|The link that redirects to the team leading page@@teamLeadingLink">Team leading</a>
        </li>              
      </ul>  
  </li>
  <li>
    <a [routerLink]="['hobbies']" i18n="hobbies link|The link that redirects to the hobbies page@@hobbiesLink">Hobbies</a>
  </li>
  <li>
    <a [routerLink]="['contact']" i18n="contact link|The link that redirects to the contact page@@contactLink">Contact</a>
  </li>
</ul>
