<app-article-header [title]="'projects.title'" [subtitle]="'projects.subtitle'"></app-article-header>
<div class="article-card-container">
  <mat-card matRipple class="article-card" [routerLink]="['./web-agent']">
    <mat-card-header>
      <div mat-card-avatar class="article-card-avatar article-card-avatar-web-agent" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'projects.web-agent.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'projects.web-agent.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/securitas.png" alt="Web Agent logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'projects.web-agent.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./vision-safety']">
    <mat-card-header>
      <div mat-card-avatar class="article-card-avatar article-card-avatar-vision-safety" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'projects.vision-safety.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'projects.vision-safety.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/securitas.png" alt="Vision Safety logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'projects.vision-safety.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./call-center']">
    <mat-card-header>
      <div mat-card-avatar class="article-card-avatar article-card-avatar-call-center" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'projects.call-center.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'projects.call-center.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/energies-e-leclerc.png" alt="Call center logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'projects.call-center.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./e-monthly']">
    <mat-card-header>
      <div mat-card-avatar class="article-card-avatar article-card-avatar-e-monthly" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'projects.e-monthly.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'projects.e-monthly.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/safran.png" alt="eMonthly logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'projects.e-monthly.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./galt']">
    <mat-card-header>
      <div mat-card-avatar class="article-card-avatar article-card-avatar-galt" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'projects.galt.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'projects.galt.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/galt.png" alt="Galt logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'projects.galt.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>
