<template>
    <div>
        <h1>{{ $t("galt.galt")}}</h1>
        
        <h3><i>{{ $t("galt.subtitle")}}</i></h3>
        <br />
        
        <div>
            {{ $t("galt.packageManager")}}
            <br />
            <br />
            {{ $t("galt.idea")}}
            <a target="_blank" href="https://signature-code.com/en">
                {{ $t("galt.signatureCode")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </a>{{$t("galt.tool")}}
            <br />
            <br />
            {{ $t("galt.launch")}}
            <br />
            <br />
            {{ $t("galt.start")}}
            <b>
                {{ $t("galt.mvc5")}}
            </b>
            {{ $t("galt.frontend")}}
            <router-link to="/front-end">
                <b>
                    {{ $t("galt.vue")}}
                </b>
                <span class="glyphicon glyphicon-new-window"></span>
            </router-link>{{$t("galt.graphes")}}
            <b>{{ $t("galt.d3")}}</b>{{ $t("galt.technologies")}}
            <br />
            <br />
            {{ $t("galt.frameworks")}}
            <br />
            <br />
            {{ $t("galt.suggest")}}
            <b>
                {{ $t("galt.spa")}}
            </b>
            {{ $t("galt.server")}}
            <i>
                {{ $t("galt.note")}}
            </i>
            {{ $t("galt.integrate")}}
            <br />
            <br />
            {{ $t("galt.mockups")}}
            <b>
                {{ $t("galt.ux")}}
            </b>
            {{ $t("galt.userExp")}}
            <b>
                {{ $t("galt.ui")}}
            </b>
            {{ $t("galt.userInterf")}}
            <br />
            <br />
            {{ $t("galt.architecture")}}
            <br />
            <br />
            {{ $t("galt.objectives")}}
            <ul>
                <li>
                    {{ $t("galt.graph")}}
                </li>
                <li>
                    {{ $t("galt.versions")}}
                </li>
                <li>
                    {{ $t("galt.account")}}
                </li>
            </ul>
            <br />
            {{ $t("galt.presentation")}}
            <ul>
                <li>
                    {{ $t("galt.interfaces")}}
                </li>
                <li>
                    {{ $t("galt.optimization")}}
                </li>
                <li>
                    {{ $t("galt.upload")}}
                </li>
            </ul>
            <br />
            {{ $t("galt.benefit")}}
            <br />
            <br />
        </div>
    </div>
</template>

<script src="./galt.ts"></script>