<app-article-header [title]="'projects.e-monthly.title'" [subtitle]="'projects.e-monthly.subtitle'"></app-article-header>
<div>
  <h3>{{ 'projects.e-monthly.template.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.e-monthly.template.after-working' | translate }}</span>
    <a [routerLink]="['../../technical-skills/front-end']" matTooltip="{{ 'redirects.linked-technical-skills.front-end' | translate }}" matTooltipPosition="above">{{ 'projects.e-monthly.template.angular-projects' | translate }}</a>
    <span>{{ 'projects.e-monthly.template.project-manager' | translate }}</span>
  </p>
  <div class="screenshot-container">
    <img src="assets/img/satisfly.jpg" class="screenshot">
  </div>
  <p class="img-caption">
    <span>{{ 'projects.e-monthly.template.page' | translate }}</span>
  </p>
  <h3>{{ 'projects.e-monthly.architecture.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.e-monthly.architecture.one-week' | translate }}</span>
    <a [routerLink]="['../../technical-skills/architecture']" matTooltip="{{ 'redirects.linked-technical-skills.notions-of-architecture' | translate }}" matTooltipPosition="above">{{ 'projects.e-monthly.architecture.architecture' | translate }}</a>
    <span>{{ 'projects.e-monthly.architecture.by-creating' | translate }}</span>
    <b>{{ 'projects.e-monthly.architecture.services' | translate }}</b>
    <span>{{ 'projects.e-monthly.architecture.references' | translate }}</span>
    <b>{{ 'projects.e-monthly.architecture.angular-material' | translate }}</b>
    <span>{{ 'projects.e-monthly.architecture.website' | translate }}</span>
    <b>{{ 'projects.e-monthly.architecture.kendo' | translate }}</b>
    <span>{{ 'projects.e-monthly.architecture.grid' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.e-monthly.architecture.specificities' | translate }}</span>
  </p>
  <h3>{{ 'projects.e-monthly.future.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.e-monthly.future.expect' | translate }}</span>
  </p>
</div>
