<h1 i18n="eMonthly title|The title of the eMonthly article@@eMonthlyTitle">eMonthly</h1>
<i><h3 i18n="eMonthly subtitle|The subtitle of the eMonthly article@@eMonthlySubtitle">Architecting an Angular project</h3></i>
<div>
  <p i18n="eMonthly paragraph|The paragraph of the eMonthly article@@eMonthlyParagraph">
    After working on several <a [routerLink]="['../../technical-skills/front-end']">Angular projects</a>
    , my project manager suggests me to set up the skeletton of an Angular solution that would be used as a template for every new Angular app in my services centre.
    The template first needs to be used for a web app for Safran aeronautics company. 
    This app, called eMonthly, helps Safran employees to input and to consult the evualuation marks for the quality of the services offered to their customers.
    <br>
    <br>
    I work only one week on this project. During this week, I create the Angular projet
    , organize <a [routerLink]="['../../technical-skills/architecture']">the architecture</a> of 
    the solution by creating <b>services, components, guards</b>, etc. 
    I add references to libraries that our centre has interest in using based on recurent feedback from clients. 
    I especially add <b>Angular Material</b> to make rapidly and efficiently a neat website design (in particular for PoCs) 
    and <b>Kendo for Angular</b> to be able to use grid systems that are a usual request from clients.
    <br>
    <br>
    Once this template project is operational, I work on the specificities of the application for Safran. 
    I note the interest of a built-in solution which is ready, modular and reusable in the future. 
    Then I easily integrate some screens asked in the specifications using Angular Material and Kendo already configured.
    <br>
    <br>
    I expect to work again on the Angular project template to improve it based on the needs of the future clients. 
    I also want to make it more accessible and modular for the future developers that will use it, even if they are new to Angular, 
    to encourage them to use good conception practices from the beginning.
</div>