<app-article-header [title]="'human-skills.languages.title'" [subtitle]="'human-skills.languages.subtitle'"></app-article-header>
<div>
  <h3>{{ 'human-skills.languages.passion.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.languages.passion.child' | translate }}</span>
    <b>{{ 'human-skills.languages.passion.english' | translate }}</b>
    <span>{{ 'human-skills.languages.passion.chose' | translate }}</span>
    <b>{{ 'human-skills.languages.passion.spanish' | translate }}</b>
    <span>{{ 'human-skills.languages.passion.option' | translate }}</span>
    <b>{{ 'human-skills.languages.passion.latin' | translate }}</b>
    <span>{{ 'human-skills.languages.passion.middle-school' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.languages.passion.high-school' | translate }}</span>
    <b>{{ 'human-skills.languages.passion.toeic' | translate }}</b>
    <span>{{ 'human-skills.languages.passion.score' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.languages.today.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.languages.today.english' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.languages.today.future' | translate }}</span>
    <b>{{ 'human-skills.languages.today.new-zealand' | translate }}</b>
    <span>{{ 'human-skills.languages.today.ten-years' | translate }}</span>
  </p>
</div>