<app-article-header [title]="'technical-skills.financial-assessments.title'" [subtitle]="'technical-skills.financial-assessments.subtitle'"></app-article-header>
<div>
  <p class="article-p">
    <span>{{ 'technical-skills.financial-assessments.apprenticeship' | translate }}</span>
    <b>{{ 'technical-skills.financial-assessments.financial-assessments' | translate }}</b>
    <span>{{ 'technical-skills.financial-assessments.estimate' | translate }}</span>
    <b>{{ 'technical-skills.financial-assessments.specifications' | translate }}</b>
    <span>{{ 'technical-skills.financial-assessments.tool' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.financial-assessments.soon' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'technical-skills.financial-assessments.web-agent' | translate }}</a>
    <span>{{ 'technical-skills.financial-assessments.collaboration' | translate }}</span>
  </p>
</div>
