<mat-sidenav-container autosize fullscreen [ngClass]="{ 'dark-theme': isDarkTheme }">
    <mat-sidenav #sidenav id="sidenav" [ngClass]="{'sidenav-visible': isMenuOpened}" [mode]="'side'" [opened]="true">
        <app-sidenav (sidenavToggled)="sidenav.toggle()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content id="content" [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }">        
        <div id="sub-content">
            <div id="header-container" *ngIf="sidenav.mode === 'over'" [ngClass]="{ 'light': !isDarkTheme, 'dark': isDarkTheme }">
                <div id="header">
                    <button id="menu" mat-flat-button color="primary" (click)="sidenav.toggle()">
                        <mat-icon aria-label="Menu">menu</mat-icon>
                    </button>
                    <a href="/" *ngIf="!isOver" class="profile-logo">
                        <img [src]="isDarkTheme ? 'assets/img/logo_white.png' : 'assets/img/logo_black.png'">
                    </a>                    
                    <div class="profile-info">
                        <h1 class="profile-name">{{ 'sidenav.profile.name' | translate }}</h1>
                        <h2 class="profile-job">{{ 'sidenav.profile.job' | translate }}</h2>
                    </div>             
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="article-container" [ngClass]="{ 'mobile': sidenav.mode === 'over' }">
                <div class="article">
                    <router-outlet (activate)="onActivate($event)"></router-outlet>
                </div>
                <app-redirects [linkedProjects]="linkedProjects" [linkedTechnicalSkills]="linkedTechnicalSkills" [linkedHumanSkills]="linkedHumanSkills"></app-redirects>
            </div>
        </div>
    </mat-sidenav-content>                   
</mat-sidenav-container>
