#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.article-container {    
    max-width: 980px;
    padding: 48px 16px;
}

#menu {
    position: relative;
    top: -16px;
}