#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.article-container {    
    max-width: 980px;
    padding: 48px 16px;
}

#menu {
    position: relative;
    top: -16px;
}

@media only creen and (max-width: 848px) {
    #sidenav {
        display: none;
    }

    .sidenav-visible {
        display: block !important;
    }

    #content {
        margin-left: 0 !important;
    }
}