.redirects-divider {
    margin-top: 24px;
}

.redirects-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.redirects-category {
    margin-top: 24px;
    grid-row: 1;
}

.redirects-category-1 {
    grid-column: 1;
}

.redirects-category-2 {
    grid-column: 2;
}

.redirects-category-3 {
    grid-column: 3;
}

.redirects-title {
    margin-bottom: 8px;
}

.redirects-group {
    a {
        margin: 4px;
    }
}