<div class="download-sticky-button-container">
  <h1 mat-dialog-title>
    <span>{{ 'resume.title' | translate }}</span>
  </h1>
  <div mat-dialog-content class="resume-content">
    <div *ngIf="error">
      <span>{{ 'resume.error' | translate }}</span>
    </div>
    <a target="_blank" [href]="resume()">
      <pdf-viewer [src]="resume()" [render-text]="true" style="display: block;" [original-size]="false"
        [autoresize]="true" (error)="error = true"></pdf-viewer>
    </a>
  </div>
  <div mat-dialog-actions class="resume-actions">
    <button mat-flat-button color="primary" [mat-dialog-close]="" cdkFocusInitial>{{ 'resume.close' | translate }}</button>
  </div>
  <a mat-fab color="primary" matTooltip="{{ 'resume.download' | translate }}" matTooltipPosition="above" class="download-sticky-button" [href]="resume()" download>
    <mat-icon aria-label="Download">save_alt</mat-icon>
  </a>
</div>
