<app-article-header [title]="'technical-skills.front-end.title'" [subtitle]="'technical-skills.front-end.subtitle'"></app-article-header>
<div>
  <h3>{{ 'technical-skills.front-end.introduction.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.introduction.basis' | translate }}</span>
    <a [routerLink]="['../../human-skills/creativity']" matTooltip="{{ 'redirects.linked-human-skills.creativity' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.introduction.creativity' | translate }}</a>
    <span>{{ 'technical-skills.front-end.introduction.creativity-bis' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.introduction.web' | translate }}</span>
    <b>{{ 'technical-skills.front-end.introduction.vue-js' | translate }}</b>
    <span>{{ 'technical-skills.front-end.introduction.school' | translate }}</span>
    <a [routerLink]="['../../projects/galt']" matTooltip="{{ 'redirects.linked-projects.galt' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.introduction.galt' | translate }}</a>
    <span>{{ 'technical-skills.front-end.introduction.framework' | translate }}</span>
    <b>{{ 'technical-skills.front-end.introduction.spa' | translate }}</b>
    <span>{{ 'technical-skills.front-end.introduction.fluid' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.front-end.angular.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.angular.capgemini' | translate }}</span>
    <b>{{ 'technical-skills.front-end.angular.angular' | translate }}</b>
    <span>{{ 'technical-skills.front-end.angular.projects' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.angular.web-agent' | translate }}</a>
    <span>{{ 'technical-skills.front-end.angular.integrated' | translate }}</span>
    <a [routerLink]="['../../projects/call-center']" matTooltip="{{ 'redirects.linked-projects.call-center' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.angular.call-center' | translate }}</a>
    <span>{{ 'technical-skills.front-end.angular.and' | translate }}</span>
    <a [routerLink]="['../../projects/e-monthly']" matTooltip="{{ 'redirects.linked-projects.e-monthly' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.angular.e-monthly' | translate }}</a>
    <span>{{ 'technical-skills.front-end.angular.e-monthly-bis' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.angular.application' | translate }}</span>
    <b>{{ 'technical-skills.front-end.angular.ngx-translate' | translate }}</b>
    <span>{{ 'technical-skills.front-end.angular.portfolio' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.front-end.web-agent.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.web-agent.web-agent' | translate }}</span>
    <b>{{ 'technical-skills.front-end.web-agent.ux' | translate }}</b>
    <span>{{ 'technical-skills.front-end.web-agent.and' | translate }}</span>
    <b>{{ 'technical-skills.front-end.web-agent.ui' | translate }}</b>
    <span>{{ 'technical-skills.front-end.web-agent.mock-ups' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.front-end.web-agent.e-monthly' | translate }}</span>
    <a [routerLink]="['../../technical-skills/notions-of-architecture']" matTooltip="{{ 'redirects.linked-technical-skills.notions-of-architecture' | translate }}" matTooltipPosition="above">{{ 'technical-skills.front-end.web-agent.architecture' | translate }}</a>
    <span>{{ 'technical-skills.front-end.web-agent.experience' | translate }}</span>
  </p>
</div>
