<div>
  <h1>{{ "contact.title" | translate }}</h1>

  <div class="fill">
    <div>
        {{ "contact.contact" | translate }}
        <div *ngIf="isEmailDisplayed; else emailNotDisplayed">
            <mat-icon matListIcon>email</mat-icon>
            <a [href]="'mailto:' + email">
              {{ email }}
          </a>.
        </div>
        <ng-template #emailNotDisplayed>
          {{ "contact.view-mail" | translate }}
          <re-captcha (resolved)="displayEmail()" siteKey="6LcYZp8UAAAAAJfBAKsXAdv6xzITvZaD6QaB2FvN"></re-captcha>
        </ng-template>
    </div>      

    <div>
      {{ "contact.also" | translate }}
      <a target="_blank" [href]="linkedin()">
          {{ "contact.linkedin" | translate }}
          <mat-icon matListIcon class="inline_icon">open_in_new</mat-icon>
      </a>.
    </div>

    <div>
      {{ "contact.cv" | translate }}
      <a [href]="cv()" download>
        {{ "contact.download" | translate }}
        <mat-icon matListIcon class="inline_icon">save_alt</mat-icon>
      </a>{{ "contact.cv-end" | translate }}
      <a target="_blank" [href]="cv()">
        <pdf-viewer [src]="cv()" [render-text]="true"></pdf-viewer>
      </a>
    </div>
  </div>
</div>