#close-up {
  // float: left;
  margin: 5px 10px 10px 0px;
  height: 400px;
  clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 20% 100%, 0 70%);
}

// section {
//   box-sizing: border-box;
//   border: 1px solid blue;
//   width: 100%;
// }
