<section>
  <img id="close-up" src="assets/img/portrait/antonin_close_up.jpg">
  <h1 i18n>Hi there! I'm Antonin</h1>
  <h2 i18n>I am a freelance full-stack developper who enjoys building web and mobile applications</h2>

  <p class="justify" i18n>After more than five years working in the biggest IT company, I decided to go freelance to discover new grounds.</p>
  <p class="justify" i18n>During my time at Capgemini, I developped skills in .NET back-end, Angular front-end and Android mobile applications (both native and Xamarin).</p>
</section>
