<app-article-header [title]="'about.about'" [subtitle]="'about.my-portfolio'"></app-article-header>
<div>
  <p class="article-p">
    {{ 'about.copyright' | translate }} 
  </p>
  <p class="article-p">
    {{ 'about.developped' | translate }} 
    <a href="https://angular.io/" title="Angular" target="_blank">
      {{ 'about.angular' | translate }} 
    </a>
    {{ 'about.using' | translate }}  
    <a href="https://material.angular.io/" title="Angular Material" target="_blank">
      {{ 'about.material' | translate }} 
    </a>
  </p>
  <p class="article-p">
    {{ 'about.translations' | translate }} 
    <a href="http://www.ngx-translate.com/" title="Ngx Translate" target="_blank">
      {{ 'about.ngx-translate' | translate }} 
    </a>
    {{ 'about.library' | translate }} 
  </p>
  <p class="article-p">
    {{ 'about.resume' | translate }} 
    <a href="https://www.npmjs.com/package/ng2-pdf-viewer" title="Ng2 PDF Viewer" target="_blank">
      {{ 'about.ng2-pdf-viewer' | translate }} 
    </a> 
  </p>
  <p class="article-p">
    {{ 'about.icons' | translate }} 
    <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">
      SimpleIcon
    </a>    
    {{ 'about.and' | translate }} 
    <a href="https://www.freepik.com/" title="SimpleIcon" target="_blank">
      Freepik
    </a>
    {{ 'about.from' | translate }} 
      <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">
      www.flaticon.com
    </a>
    {{ 'about.licensed' | translate }} 
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
      CC 3.0 BY
    </a>
  </p>
  <p class="article-p">
    {{ 'about.code' | translate }} 
    <a href="https://github.com/antonin-charrier/portfolio" title="GitHub repo" target="_blank">
      {{ 'about.github' | translate }} 
    </a>
  </p>
</div>