<app-article-header [title]="'about.about'" [subtitle]="'about.my-portfolio'"></app-article-header>
<div>
  <p class="article-p">
    <span>{{ 'about.copyright' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'about.developped' | translate }}</span>
    <a href="https://angular.io/" title="Angular" target="_blank" matTooltip="{{ 'about.angular-website' | translate }}" matTooltipPosition="above">
      <span>{{ 'about.angular' | translate }}</span>
    </a>
    <span></span>{{ 'about.using' | translate }}  
    <a href="https://material.angular.io/" title="Angular Material" target="_blank" matTooltip="{{ 'about.material-website' | translate }}" matTooltipPosition="above">
      <span>{{ 'about.material' | translate }}</span>
    </a>
    <span>.</span>
  </p>
  <p class="article-p">
    <span></span>{{ 'about.translations' | translate }} 
    <a href="http://www.ngx-translate.com/" title="Ngx Translate" target="_blank" matTooltip="{{ 'about.ngx-translate-website' | translate }}" matTooltipPosition="above">
      <span>{{ 'about.ngx-translate' | translate }}</span>
    </a>
    <span>{{ 'about.library' | translate }}</span>
    <span>.</span>
  </p>
  <p class="article-p">
    <span></span>{{ 'about.resume' | translate }} 
    <a href="https://www.npmjs.com/package/ng2-pdf-viewer" title="Ng2 PDF Viewer" target="_blank" matTooltip="{{ 'about.ng2-pdf-viewer-website' | translate }}" matTooltipPosition="above">
      <span>{{ 'about.ng2-pdf-viewer' | translate }}</span>
    </a> 
    <span>.</span>
  </p>
  <p class="article-p">
    <span>{{ 'about.icons' | translate }}</span>
    <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank" matTooltip="{{ 'about.simpleicon-website' | translate }}" matTooltipPosition="above">
      <span>SimpleIcon</span>
    </a>    
    <span>{{ 'about.and' | translate }}</span>
    <a href="https://www.freepik.com/" title="SimpleIcon" target="_blank" matTooltip="{{ 'about.freepik-website' | translate }}" matTooltipPosition="above">
      <span>Freepik</span>
    </a>
    <span>{{ 'about.from' | translate }}</span>
      <a href="https://www.flaticon.com/" title="Flaticon" target="_blank" matTooltip="{{ 'about.flaticon-website' | translate }}" matTooltipPosition="above">
        <span>www.flaticon.com</span>
    </a>
    <span>{{ 'about.licensed' | translate }}</span>
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" matTooltip="{{ 'about.cc-3-0-website' | translate }}" matTooltipPosition="above">
      <span>CC 3.0 BY</span>
    </a>
    <span>.</span>
  </p>
  
  <p class="article-p">
    <span>{{ 'about.illustrations' | translate }}</span>
    <a href="https://pixabay.com/fr/users/mohamed_hassan-5229782/" title="Mohammed Hassan" target="_blank" matTooltip="{{ 'about.hassan-website' | translate }}" matTooltipPosition="above">
      <span>Mohammed Hassan</span>
    </a>    
    <span>{{ 'about.images' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'about.code' | translate }}</span>
    <a href="https://github.com/antonin-charrier/portfolio" title="GitHub repo" target="_blank" matTooltip="{{ 'about.github-website' | translate }}" matTooltipPosition="above">
      <span>{{ 'about.github' | translate }}</span>
    </a>
    <span>.</span>
  </p>
</div>