<app-article-header [title]="'technical-skills.title'" [subtitle]="'technical-skills.subtitle'"></app-article-header>
<div class="article-card-container">
  <mat-card matRipple class="article-card" [routerLink]="['./front-end']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-front-end" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'technical-skills.front-end.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'technical-skills.front-end.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/front-end.png" alt="Front end logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'technical-skills.front-end.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./android']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-android" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'technical-skills.android.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'technical-skills.android.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/android.png" alt="Android logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'technical-skills.android.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./dot-net-core-web-api']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-dot-net-core-web-api" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'technical-skills.dot-net-core-web-api.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'technical-skills.dot-net-core-web-api.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/dot-net-core-web-api.png" alt=".NET Core Web API logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'technical-skills.dot-net-core-web-api.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./notions-of-architecture']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-notions-of-architecture" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'technical-skills.notions-of-architecture.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'technical-skills.notions-of-architecture.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/notions-of-architecture.png" alt="Notions of architecture logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'technical-skills.notions-of-architecture.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="article-card" [routerLink]="['./financial-assessments']">
    <mat-card-header>      
      <div mat-card-avatar class="article-card-avatar article-card-avatar-financial-assessments" *ngIf="isSmallDevice"></div>
      <mat-card-title>{{ 'technical-skills.financial-assessments.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'technical-skills.financial-assessments.card-subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-card-image" src="assets/img/financial-assessments.png" alt="Financial assessments logo" *ngIf="!isSmallDevice">
    <mat-card-content>
      <p>{{ 'technical-skills.financial-assessments.card-content' | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>