<app-article-header [title]="'home.title'" [subtitle]="'home.subtitle'"></app-article-header>
<p class="article-p">
  <span>{{ 'home.two-years' | translate }}</span>
  <a href="https://www.capgemini.com" target="_blank" matTooltip="{{ 'home.capgemini-website' | translate }}" matTooltipPosition="above">{{ 'home.capgemini' | translate }}</a>
  <span>{{ 'home.experience' | translate }}</span>
  <a href="https://www.intechinfo.fr" target="_blank" matTooltip="{{ 'home.intech-website' | translate }}" matTooltipPosition="above">{{ 'home.intech' | translate }}</a>
  <span>{{ 'home.applications' | translate }}</span>
  <a href="https://www.securitas.com" target="_blank" matTooltip="{{ 'home.securitas-website' | translate }}" matTooltipPosition="above">{{ 'home.securitas' | translate }}</a>
  <span>{{ 'home.skills' | translate }}</span>
  <b>
    <span>{{ 'home.development' | translate }}</span>
    <a [routerLink]="['technical-skills/dot-net-core-web-api']" matTooltip="{{ 'redirects.linked-technical-skills.dot-net-core-web-api' | translate }}" matTooltipPosition="above">{{ 'home.dot-net' | translate }}</a>
    <span>{{ 'home.dot-net-bis' | translate }}</span>
    <a [routerLink]="['technical-skills/front-end']" matTooltip="{{ 'redirects.linked-technical-skills.front-end' | translate }}" matTooltipPosition="above">{{ 'home.angular' | translate }}</a>
    <span>{{ 'home.angular-bis' | translate }}</span>
    <a [routerLink]="['technical-skills/android']" matTooltip="{{ 'redirects.linked-technical-skills.android' | translate }}" matTooltipPosition="above">{{ 'home.android' | translate }}</a>
    <span>{{ 'home.development-bis' | translate }}</span>
  </b>
</p>
<p class="article-p">
  <span>{{ 'home.frameworks' | translate }}</span>
</p>