@import '../../../styles/variables.scss';

$asakusa: "../../../assets/img/background/asakusa.jpg";
$auckland: "../../../assets/img/background/montreal.jpg";
$samarkand: "../../../assets/img/background/asakusa.jpg";
$montreal:  "../../../assets/img/background/montreal.jpg";
$dublin:  "../../../assets/img/background/asakusa.jpg";

#polygon-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#polygon-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  float: right;
  background: black url($asakusa) center top no-repeat;
  background-size: cover;

  &.home-slideshow {
    animation: slideshow 60s cubic-bezier(1,0,0,1) infinite;

    &:after {
      opacity: 0;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(135deg, #ccbcb600 calc(100% - 250px), #ccbcb670 calc(100% - 125px), #ccbcb6cc 100%);
    transition: opacity .3s ease-in-out;
  }
}

#polygon-content-main {
  position: absolute;
  left: -100vw;
  display: flex;
  flex-direction: row;
}

#polygon-content {
  height: 100vh;
  width: 70vw;
  color: var(--color-primary-contrast);
  background: var(--color-primary);
  font-family: Montserrat;
}

#polygon-main {
  height: 100vh;
  width: 40vw;
  text-align: right;
  color: var(--color-primary-contrast);
  background: var(--color-primary-700);
  font-family: Montserrat;
  padding-top: 150px;
  transform-origin: top left;
}

@keyframes slideshow {
  0% {
    background-image: url($asakusa);
  }
  20% {
    background-image: url($auckland);
  }
  40% {
    background-image: url($samarkand);
  }
  60% {
    background-image: url($montreal);
  }
  80% {
    background-image: url($dublin);
  }
  100% {
    background-image: url($asakusa);
  }
}

#home-title {
  font-size: 48px;
}

#title-container {
  padding-right: var(--menuPaddingRight);

  &.flex {
    p {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

}

.relative-right {
  position: relative;
  right: var(--menuPaddingRight);
}

#home-subtitle {
  font-size: 24px;
  margin-top: 32px;
  color: var(--color-accent-light);
}

.active {
  color: var(--color-accent-light) !important;
  pointer-events: none;

  &::after {
    transform: rotate(180deg);
  }
}

#home-nav {
  font-size: 24px;
  line-height: 48px;
  margin-top: 48px;
  list-style-type: none;
  padding-right: var(--menuPaddingRight);


  &.flex {
    li {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    transition: transform .15s;

    &::after {
      content: '⮞';
      margin-left: 8px;
      transition: transform .4s;
      display: inline-block;
    }
  }

  a:hover {
    transform: translateX(-16px);
  }
}

#home-button-container {
  position: absolute;
  top: 50px;
  right: 50px;
  transition: transform .15s;

  &:hover {
    transform: translateX(-16px);
  }
}

#home-button {
  cursor: pointer;
  transform: scale(1.8);
  color: var(--color-primary-contrast);
}

#burger-menu {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
