<div id="polygon-container">
  <div id="polygon-background"
    [ngClass]="{ 'home-slideshow' : currentDisplay === 'background' }"
    (mouse-still)="bgStill()" [delay]="2000" (mousemove)="bgMove()">
  </div>
  <div id="polygon-content-main" [@contentMainMove]="currentDisplay"
    (@contentMainMove.done)="contentMainDone()">
    <div id="polygon-content" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
    <div id="polygon-main" (delayed-hover)="mainDelayedEnter()"
      [hoverDelay]="100" (mouseleave)="mainLeave()">
      <div id="title-container"
        [ngClass]="{ 'flex': currentDisplay === 'full-content' && !isBeingAnimated }">
        <p id="home-title">Antonin Charrier</p>
        <p id="home-subtitle" i18n>Freelance developer</p>
      </div>
      <ul id="home-nav" [@navMenuDisplay]="navItems.length" *ngIf="isMenuDisplayed"
        [ngClass]="{ 'flex': currentDisplay === 'full-content' && !isBeingAnimated }">
        <li *ngFor="let navItem of navItems">
          <a [routerLink]="navItem.link" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="linkClick()">{{ navItem.text }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="home-button-container" [@homeButtonContainer]
  *ngIf="currentDisplay === 'full-content' && !isBeingAnimated">
  <mat-icon i18n-aria-label aria-label="Home" id="home-button" (click)="home()"
    [@homeButtonClick]="currentDisplay">arrow_back</mat-icon>
</div>
<app-menu id="burger-menu" [fullContent]="currentDisplay === 'full-content' && !isBeingAnimated"></app-menu>
