<div id="polygon-container">
  <div id="polygon-background" [@backgroundExpandShrink]="currentBackgroundDisplay"
    [ngClass]="{ 'home-slideshow' : currentBackgroundDisplay === 'background',
    'polygon-hidden': currentBackgroundDisplay === 'full-content' && !isBeingAnimated }"
    (mouse-still)="bgStill()" [delay]="2000" (mousemove)="bgMove()">
  </div>
  <div id="polygon-main" (delayed-hover)="mainDelayedEnter()"
    [hoverDelay]="100" (mouseleave)="mainLeave()"
    [ngClass]="{'main-right': currentMainDisplay !== 'left'}"
    [@mainExpandShrink]="currentMainDisplay">
    <div id="title-container">
      <p id="home-title">Antonin Charrier</p>
      <p id="home-subtitle" i18n>Freelance developer</p>
    </div>
    <ul id="home-nav" [@navMenuDisplay]="navItems.length"
      *ngIf="currentBackgroundDisplay !== 'default' && currentBackgroundDisplay !== 'background'">
      <li *ngFor="let navItem of navItems">
        <a [routerLink]="navItem.link" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="linkClick()">{{ navItem.text }}</a>
     </li>
    </ul>
  </div>
  <div id="polygon-content" [ngClass]="{ 'polygon-hidden':
    currentBackgroundDisplay !== 'full-content' || isBeingAnimated }"
    [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</div>
<mat-icon aria-label="Home"
  *ngIf="currentBackgroundDisplay === 'full-content' && !isBeingAnimated"
  id="home-button" [@homeButton] (click)="home()"
  [@homeButtonClick]="currentMainDisplay">arrow_back</mat-icon>
<app-menu id="burger-menu"
  [fullContent]="currentBackgroundDisplay === 'full-content' && !isBeingAnimated"></app-menu>
