@import '../../../assets/styles/variables.scss';

.burger-menu-bun {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin-left: auto;
  background-color: var(--color-primary-700);
}

#burger-menu {
  cursor: pointer;
  * {
    margin-top: 5px;
  }

  *:first-child {
    margin-top: 0px;
  }

  &.full-content {
    * {
      background-color: var(--color-accent) !important;
    }
  }
}
