@import '../../../assets/styles/variables.scss';

.burger-menu-bun {
  width: 30px;
  height: 5px;
  background-color: var(--color-primary-700);
}

#burger-menu {
  transition: .1s ease-in-out;
  transform: skew(-10deg);

  * {
    margin-top: 5px;
  }

  *:first-child {
    margin-top: 0px;
  }

  &.full-content {
    * {
      background-color: var(--color-accent) !important;
    }
  }

  &.closed {
    cursor: pointer;
    pointer-events: auto;
  }

  &.open {
    pointer-events: none;
    transform: translateX(-50px) skew(-10deg);
  }
}

#menu-content {
  padding: 20px;
  display: flex;
  flex-direction: column;

  .menu-items-list {
    display: flex;
    flex-direction: column;
    text-align: right;

    .menu-link {
      height: 64px;
      color: var(--color-primary-contrast);
      background-color: transparent !important;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      pointer-events: auto;
      text-decoration: none;
      transition: transform .08s ease-in-out;
      transform: skew(10deg);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 1px solid var(--color-primary-contrast);
        width: 180px;
        right: 20px;
        top: 60px;
      }

      .text {
        font-size: 20px;
      }

      .icon {
        height: 40px;
        margin-right: 16px;
      }

      .open-in-new {
        transform: scale(0.65) translate(-4px, -16px);
      }

      &:hover {
        transform: skew(10deg) translateX(-16px);
        color: var(--color-accent-light);
      }
    }
  }

  #close-menu-container {
    text-align: right;
    transform: skew(10deg);

    #close-menu {
      cursor: pointer;
      pointer-events: auto;
      color: var(--color-primary-contrast);
      transition: .2s ease-in-out;
      transform: scale(1.5) rotate(0deg);

      &:hover {
        transform: scale(1.5) rotate(90deg);
        color: var(--color-accent-light);
      }
    }
  }


  &.full-content {

    .menu-items-list {
      .menu-link {
        color: var(--color-primary-700);

        &::after {
          border: 1px solid var(--color-primary-700);
        }

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    #close-menu-container {

      #close-menu {
        color: var(--color-primary-700);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
