<app-article-header [title]="'human-skills.knowledge-sharing.title'" [subtitle]="'human-skills.knowledge-sharing.subtitle'"></app-article-header>
<div>
  <h3>{{ 'human-skills.knowledge-sharing.importance.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.knowledge-sharing.importance.important' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.knowledge-sharing.serve.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.knowledge-sharing.serve.available' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'human-skills.knowledge-sharing.serve.web-agent' | translate }}</a>
    <span>{{ 'human-skills.knowledge-sharing.serve.application' | translate }}</span>
    <a [routerLink]="['../../technical-skills/front-end']" matTooltip="{{ 'redirects.linked-technical-skills.front-end' | translate }}" matTooltipPosition="above">{{ 'human-skills.knowledge-sharing.serve.angular' | translate }}</a>
    <span>{{ 'human-skills.knowledge-sharing.serve.technology' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.knowledge-sharing.accompany.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.knowledge-sharing.accompany.skill' | translate }}</span>
    <a [routerLink]="['../../projects/call-center']" matTooltip="{{ 'redirects.linked-projects.call-center' | translate }}" matTooltipPosition="above">{{ 'human-skills.knowledge-sharing.accompany.call-center' | translate }}</a>
    <span>{{ 'human-skills.knowledge-sharing.accompany.project' | translate }}</span>
    <b>{{ 'human-skills.knowledge-sharing.accompany.poc' | translate }}</b>
    <span>{{ 'human-skills.knowledge-sharing.accompany.retraining' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.knowledge-sharing.accompany.task' | translate }}</span>
    <b>{{ 'human-skills.knowledge-sharing.accompany.angular' | translate }}</b>
    <span>{{ 'human-skills.knowledge-sharing.accompany.explain' | translate }}</span>
    <b>{{ 'human-skills.knowledge-sharing.accompany.git' | translate }}</b>
    <span>{{ 'human-skills.knowledge-sharing.accompany.balance' | translate }}</span>
  </p>
</div>