<app-article-header [title]="'human-skills.team-leading.title'" [subtitle]="'human-skills.team-leading.subtitle'"></app-article-header>
<div>
  <h3>{{ 'human-skills.team-leading.arrival.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.arrival.october' | translate }}</span>
    <b>{{ 'human-skills.team-leading.arrival.poc' | translate }}</b>
    <span>{{ 'human-skills.team-leading.arrival.named' | translate }}</span>
    <a [routerLink]="['../../projects/call-center']" matTooltip="{{ 'redirects.linked-projects.call-center' | translate }}" matTooltipPosition="above">{{ 'human-skills.team-leading.arrival.call-center' | translate }}</a>
    <span>{{ 'human-skills.team-leading.arrival.team' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.arrival.goal' | translate }}</span>
  </p>
  <h3>{{ 'human-skills.team-leading.lead.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.lead.visibility' | translate }}</span>
    <b>{{ 'human-skills.team-leading.lead.productivity' | translate }}</b>
    <span>{{ 'human-skills.team-leading.lead.dialogue' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.lead.learn' | translate }}</span>
    <b>{{ 'human-skills.team-leading.lead.communication' | translate }}</b>
    <span>{{ 'human-skills.team-leading.lead.difficult' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.lead.functionalities' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'human-skills.team-leading.lead.experience' | translate }}</span>
    <b>{{ 'human-skills.team-leading.lead.organization' | translate }}</b>
    <span>{{ 'human-skills.team-leading.lead.organization-bis' | translate }}</span>
  </p>
</div>
