<app-article-header [title]="'projects.call-center.title'" [subtitle]="'projects.call-center.subtitle'"></app-article-header>
<div>
  <h3>{{ 'projects.call-center.portal.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.call-center.portal.apprenticeship' | translate }}</span>
    <b>{{ 'projects.call-center.portal.poc' | translate }}</b>
    <span>{{ 'projects.call-center.portal.goal' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.call-center.portal.project' | translate }}</span>
  </p>
  <h3>{{ 'projects.call-center.poorly-monitored.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.call-center.poorly-monitored.beginning' | translate }}</span>
    <b>{{ 'projects.call-center.poorly-monitored.ux' | translate }}</b>
    <span>{{ 'projects.call-center.poorly-monitored.and' | translate }}</span>
    <b>{{ 'projects.call-center.poorly-monitored.ui' | translate }}</b>
    <span>{{ 'projects.call-center.poorly-monitored.mock-ups' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'projects.call-center.poorly-monitored.problem' | translate }}</span>
    <a [routerLink]="['../../human-skills/autonomy']" matTooltip="{{ 'redirects.linked-human-skills.autonomy' | translate }}" matTooltipPosition="above">{{ 'projects.call-center.poorly-monitored.autonomy' | translate }}</a>
    <span>{{ 'projects.call-center.poorly-monitored.information' | translate }}</span>
    <a [routerLink]="['../../human-skills/team-leading']" matTooltip="{{ 'redirects.linked-human-skills.team-leading' | translate }}" matTooltipPosition="above">{{ 'projects.call-center.poorly-monitored.lead' | translate }}</a>
    <span>{{ 'projects.call-center.poorly-monitored.experienced' | translate }}</span>
    <b>{{ 'projects.call-center.poorly-monitored.monitoring' | translate }}</b>
    <span>{{ 'projects.call-center.poorly-monitored.inexistent' | translate }}</span>
    <b>{{ 'projects.call-center.poorly-monitored.communication' | translate }}</b>
    <span>{{ 'projects.call-center.poorly-monitored.parties' | translate }}</span>
    <b>{{ 'projects.call-center.poorly-monitored.organization' | translate }}</b>
    <span>{{ 'projects.call-center.poorly-monitored.project' | translate }}</span>
  </p>
  <h3>{{ 'projects.call-center.experience.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'projects.call-center.experience.initiative' | translate }}</span>
    <a [routerLink]="['../../human-skills/knowledge-sharing']" matTooltip="{{ 'redirects.linked-human-skills.knowledge-sharing' | translate }}" matTooltipPosition="above">{{ 'projects.call-center.experience.knowledge' | translate }}</a>
    <span>{{ 'projects.call-center.experience.project' | translate }}</span>
  </p>
  <p class="article-p">
      <span>{{ 'projects.call-center.experience.chaotic' | translate }}</span>
  </p>
</div>