.screenshot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.screenshot {
  width: 100%;
  border: solid 1px black;
}
