@import '@angular/material/prebuilt-themes/indigo-pink.css';

.inline_icon {
    font-size: 16px;
}

.mat-list .mat-list-item.mat-list-item-with-avatar {
    height: 44px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}