<template>
    <div>
        <h1>{{ $t("contact.contact")}}</h1>

        <div class="fill">
            {{ $t("contact.contact")}}
            <br />
            {{ $t("contact.mail")}}
            <br />
            <br />
            {{ $t("contact.also")}}
            <a target="_blank" v-bind:href="link()">
                {{ $t("contact.linkedin")}}
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
            <br />
            <br />
            {{ $t("contact.cv")}}
            <br />
            <object id="cv" data="/src/cv.pdf" type="application/pdf">
                <i>
                    {{ $t("contact.support")}}
                    <a href="/src/cv.pdf" download="CV_Antonin_CHARRIER.pdf">
                        {{ $t("contact.download")}}
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>{{ $t("contact.instead")}}
                </i>
            </object>
        </div>
    </div>
</template>

<script src="./contact.ts"></script>

<style scoped>
    #cv {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .fill {
        height: 75vh;
    }
     
</style>