@import "variables.scss";
@import "theme.scss";

.inline_icon {
    font-size: 16px;
}

.mat-list .mat-list-item.mat-list-item-with-avatar {
    height: 44px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    font-family: Roboto, monospace;
    margin: 0;
  }

p.article-p {
    margin: 0 0 24px !important;
    text-align: justify;
}

.title-line {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
}

.title-line.light {
    border-left: 10px solid $light-primary;
}

.title-line.dark {
    border-left: 10px solid $dark-primary;
}

.article-header {
    display: inline-grid;    
    grid-gap: 0 10px;

    h1 {
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 0 !important;
    }

    .title-line {
        grid-row: 1 / 3;
        grid-column: 2;
    }
    
    h2 {
        grid-row: 2;
        grid-column: 3;
        margin-bottom: 0 !important;
    }

    margin-bottom: 20px;
}

.img-caption {
    text-align: center;
}

#content.light {
    p {
        a {
            color: $light-primary-lighter;
        }    
    }
}

#content.dark {
    p {
        a {
            color: $dark-primary-lighter;
        }
    }
}

#content {
    .border-light {
        border-color: $light-primary-lighter;
    }

    .background-light {
        background-color: $light-primary-lighter;
    }

    .border-dark {
        border-color: $dark-primary-lighter;
    }

    .background-dark {
        background-color: $dark-primary-lighter;
    }

    button.button-text-light {
        color: $light-primary-lighter !important;
    }

    button.button-text-dark {
        color: $dark-primary-lighter !important;
    }

    p.light {
        color: $light-primary-lighter;
    }

    p.dark {
        color: $dark-primary-lighter;
    }
}

.mat-dialog-container.dark {
    background-color: $dark-article-background !important;
    @extend .dark-theme;

    h1, h2, .resume-content, .contact-info-content, .experience-content {
        color: $white;
    }
}

.article-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article-card {
    width: 256px;
    margin: 16px;
    cursor: pointer;
}

.article-card-image {
    max-height: 144px;
}

.article-card-avatar {
    height: 50px !important;
    width: 50px !important;
}

.article-card-avatar-call-center {
    background-image: url('../img/energies-e-leclerc.icon.png');
    background-size: cover;
}

.article-card-avatar-e-monthly {
    background-image: url('../img/safran.icon.png');
    background-size: cover;
}

.article-card-avatar-galt {
    background-image: url('../img/galt.icon.png');
    background-size: cover;
}

.article-card-avatar-vision-safety {
    background-image: url('../img/securitas.icon.png');
    background-size: cover;
}

.article-card-avatar-web-agent {
    background-image: url('../img/securitas.icon.png');
    background-size: cover;
}

.article-card-avatar-autonomy {
    background-image: url('../img/autonomy.icon.png');
    background-size: cover;
}

.article-card-avatar-creativity {
    background-image: url('../img/creativity.icon.png');
    background-size: cover;
}

.article-card-avatar-knowledge-sharing {
    background-image: url('../img/knowledge-sharing.icon.png');
    background-size: cover;
}

.article-card-avatar-languages {
    background-image: url('../img/languages.icon.png');
    background-size: cover;
}

.article-card-avatar-team-leading {
    background-image: url('../img/team-leading.icon.png');
    background-size: cover;
}

.article-card-avatar-android {
    background-image: url('../img/android.icon.png');
    background-size: cover;
}

.article-card-avatar-dot-net-core-web-api {
    background-image: url('../img/dot-net-core-web-api.icon.png');
    background-size: cover;
}

.article-card-avatar-financial-assessments {
    background-image: url('../img/financial-assessments.icon.png');
    background-size: cover;
}

.article-card-avatar-front-end {
    background-image: url('../img/front-end.icon.png');
    background-size: cover;
}

.article-card-avatar-notions-of-architecture {
    background-image: url('../img/notions-of-architecture.icon.png');
    background-size: cover;
}