@import "variables.scss";

.inline_icon {
    font-size: 16px;
}

.mat-list .mat-list-item.mat-list-item-with-avatar {
    height: 44px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


p.article-p {
    margin: 0 0 24px !important;
    text-align: justify;
}

.title-line {
    border-left: 10px solid $primary;
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
}

.article-header {
    display: inline-grid;    
    grid-gap: 0 10px;

    h1 {
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 0 !important;
    }

    .title-line {
        grid-row: 1 / 3;
        grid-column: 2;
    }
    
    h2 {
        grid-row: 2;
        grid-column: 3;
        margin-bottom: 0 !important;
    }

    margin-bottom: 20px;
}

.img-caption {
    text-align: center;
}