@use '~@angular/material' as mat;

@import "~@angular/material/theming";

@include mat.core();

$primary-palette: (
 100: #3c4559,
 500: #141e30,
 600: #0e1422,
 700: #090e18,
 900: #000008,
 contrast: (
  100: #e5eeff,
  500: #e5eeff,
  900: #e5eeff
  )
);

$accent-palette: (
 100: #ccbcb6,
 500: #9b8c86,
 900: #6d5f59,
 contrast: (
  100: #110f0e,
  500: #110f0e,
  900: #110f0e
 )
);

$primary: mat.define-palette($primary-palette, 500, 100, 900);
$accent: mat.define-palette($accent-palette, 500, 100, 900);


$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include mat.all-component-themes($theme);

:root {
  --color-primary: #{mat-color($primary)};
  --color-primary-light: #{mat-color($primary, 100)};
  --color-primary-600: #{mat-color($primary, 600)};
  --color-primary-700: #{mat-color($primary, 700)};
  --color-primary-dark: #{mat-color($primary, 900)};
  --color-primary-contrast: #{mat-contrast($primary, 500)};
  --color-accent: #{mat-color($accent)};
  --color-accent-light: #{mat-color($accent, 100)};
  --color-accent-dark: #{mat-color($accent, 900)};
  --color-accent-contrast: #{mat-contrast($accent, 500)};
}
