<h3 *ngIf="!isProjectsEmpty">{{ 'redirects.linked-projects.title' | translate }}</h3>
<ul *ngIf="!isProjectsEmpty">
    <li *ngIf="isProjectLinked('call-center')">
        <a [routerLink]="['projects/call-center']">{{ 'redirects.linked-projects.call-center' | translate }}</a>
    </li>
    <li *ngIf="isProjectLinked('e-monthly')">
        <a [routerLink]="['projects/e-monthly']">{{ 'redirects.linked-projects.e-monthly' | translate }}</a>
    </li>
    <li *ngIf="isProjectLinked('galt')">
        <a [routerLink]="['projects/galt']">{{ 'redirects.linked-projects.galt' | translate }}</a>
    </li>
    <li *ngIf="isProjectLinked('vision-safety')">
        <a [routerLink]="['projects/vision-safety']">{{ 'redirects.linked-projects.vision-safety' | translate }}</a>
    </li>
    <li *ngIf="isProjectLinked('web-agent')">
        <a [routerLink]="['projects/web-agent']">{{ 'redirects.linked-projects.web-agent' | translate }}</a>
    </li>
</ul>
<h3 *ngIf="!isTechnicalSkillsEmpty">{{ 'redirects.linked-technical-skills.title' | translate }}</h3>
<ul *ngIf="!isTechnicalSkillsEmpty">
    <li *ngIf="isTechnicalSkillLinked('android')">
        <a [routerLink]="['technical-skills/android']">{{ 'redirects.linked-technical-skills.android' | translate }}</a>
    </li>
    <li *ngIf="isTechnicalSkillLinked('dot-net-core-web-api')">
        <a [routerLink]="['technical-skills/dot-net-core-web-api']">{{ 'redirects.linked-technical-skills.dot-net-core-web-api' | translate }}</a>
    </li>
    <li *ngIf="isTechnicalSkillLinked('financial-assessments')">
        <a [routerLink]="['technical-skills/financial-assessments']">{{ 'redirects.linked-technical-skills.financial-assessments' | translate }}</a>
    </li>
    <li *ngIf="isTechnicalSkillLinked('front-end')">
        <a [routerLink]="['technical-skills/front-end']">{{ 'redirects.linked-technical-skills.financial-assessments' | translate }}</a>
    </li>
    <li *ngIf="isTechnicalSkillLinked('notions-of-architecture')">
        <a [routerLink]="['technical-skills/notions-of-architecture']">{{ 'redirects.linked-technical-skills.notions-of-architecture' | translate }}</a>
    </li>
</ul>
<h3 *ngIf="!isHumanSkillsEmpty">{{ 'redirects.linked-human-skills.title' | translate }}</h3>
<ul *ngIf="!isHumanSkillsEmpty">
    <li *ngIf="isHumanSkillLinked('autonomy')">
        <a [routerLink]="['human-skills/autonomy']">{{ 'redirects.linked-human-skills.autonomy' | translate }}</a>
    </li>
    <li *ngIf="isHumanSkillLinked('creativity')">
        <a [routerLink]="['human-skills/creativity']">{{ 'redirects.linked-human-skills.creativity' | translate }}</a>
    </li>
    <li *ngIf="isHumanSkillLinked('knowledge-sharing')">
        <a [routerLink]="['human-skills/knowledge-sharing']">{{ 'redirects.linked-human-skills.knowledge-sharing' | translate }}</a>
    </li>
    <li *ngIf="isHumanSkillLinked('languages')">
        <a [routerLink]="['human-skills/languages']">{{ 'redirects.linked-human-skills.languages' | translate }}</a>
    </li>
    <li *ngIf="isHumanSkillLinked('team-leading')">
        <a [routerLink]="['human-skills/team-leading']">{{ 'redirects.linked-human-skills.team-leading' | translate }}</a>
    </li>
</ul>