<app-article-header [title]="'technical-skills.notions-of-architecture.title'" [subtitle]="'technical-skills.notions-of-architecture.subtitle'"></app-article-header>
<div>
  <h3>{{ 'technical-skills.notions-of-architecture.architect.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.notions-of-architecture.architect.working' | translate }}</span>
    <a [routerLink]="['../../projects/web-agent']" matTooltip="{{ 'redirects.linked-projects.web-agent' | translate }}" matTooltipPosition="above">{{ 'technical-skills.notions-of-architecture.architect.web-agent' | translate }}</a>
    <span>{{ 'technical-skills.notions-of-architecture.architect.and' | translate }}</span>
    <a [routerLink]="['../../projects/e-monthly']" matTooltip="{{ 'redirects.linked-projects.e-monthly' | translate }}" matTooltipPosition="above">{{ 'technical-skills.notions-of-architecture.architect.e-monthly' | translate }}</a>
    <span>{{ 'technical-skills.notions-of-architecture.architect.projects' | translate }}</span>
    <a [routerLink]="['../../technical-skills/front-end']" matTooltip="{{ 'redirects.linked-technical-skills.front-end' | translate }}" matTooltipPosition="above">{{ 'technical-skills.notions-of-architecture.architect.angular' | translate }}</a>
    <span>{{ 'technical-skills.notions-of-architecture.architect.architect' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.notions-of-architecture.architect.goal' | translate }}</span>
    <b>{{ 'technical-skills.notions-of-architecture.architect.material' | translate }}</b>
    <span>{{ 'technical-skills.notions-of-architecture.architect.and-bis' | translate }}</span>
    <b>{{ 'technical-skills.notions-of-architecture.architect.kendo' | translate }}</b>
    <span>{{ 'technical-skills.notions-of-architecture.architect.requests' | translate }}</span>
  </p>
  <h3>{{ 'technical-skills.notions-of-architecture.learn.title' | translate }}</h3>
  <p class="article-p">
    <span>{{ 'technical-skills.notions-of-architecture.learn.within' | translate }}</span>
    <a [routerLink]="['../../projects/vision-safety']" matTooltip="{{ 'redirects.linked-projects.vision-safety' | translate }}" matTooltipPosition="above">{{ 'technical-skills.notions-of-architecture.learn.vision-safety' | translate }}</a>
    <span>{{ 'technical-skills.notions-of-architecture.learn.project' | translate }}</span>
    <b>{{ 'technical-skills.notions-of-architecture.learn.xamarin' | translate }}</b>
    <span>{{ 'technical-skills.notions-of-architecture.learn.split' | translate }}</span>
    <a [routerLink]="['../../technical-skills/android']" matTooltip="{{ 'redirects.linked-technical-skills.android' | translate }}" matTooltipPosition="above">{{ 'technical-skills.notions-of-architecture.learn.android' | translate }}</a>
    <span>{{ 'technical-skills.notions-of-architecture.learn.specific' | translate }}</span>
    <b>{{ 'technical-skills.notions-of-architecture.learn.library' | translate }}</b>
    <span>{{ 'technical-skills.notions-of-architecture.learn.developments' | translate }}</span>
  </p>
  <p class="article-p">
    <span>{{ 'technical-skills.notions-of-architecture.learn.notions' | translate }}</span>
  </p>
</div>
